.product-page-product-container {
  display: flex;
  flex-wrap: wrap;

  margin: 2rem 0;
  justify-content: center;

}

.product-container-item {
}

.right-container {
}

.left-container {
}
#product-title {
  font-family: 'Barlow', sans-serif;
  font-size: 33px;
  max-width: 400px;

}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
  url("../../fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
  font-weight: semibold;
}

.product-produtor-normal {

}

.product-produtor-name {
    color: #5EBB6D;
}

* {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

@font-face {
    font-family: "Barlow";
    src: local("Barlow"),
    url("../../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
    font-weight: regular;
}

.ratings-container {

  display: flex;
  margin-top: 8px;
  
}

.ratings-text {
  font-family: 'BarlowCondensed', sans-serif;
  max-lines: 1;
  font-size: 19px;
}

.ratings-image {
  max-width: 129px;
  max-height: 29px;
  text-align: left;
}

.ratins-reputation {
  font-family: 'BarlowCondensed';
  font-size: 16px;
  color: #6ECB7C;
  margin-top: 3px;
}

@font-face {
  font-family: "BarlowCondensed";
  src: local("Barlow_Condesend"),
  url("../../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: regular;
}

.price-paragraph {
  font-family: 'Barlow', sans-serif;
  font-size: 39px;
  font-weight: bold;
  margin-top: 1rem;
}

.price-price {
  font-family: 'Barlow', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.price-payment-methods {
  font-size: 17px;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow"),
  url("../../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
}