#product-title {
    font-family: 'Barlow', sans-serif;
    font-size: 33px;

}

@font-face {
    font-family: "Barlow";
    src: local("Barlow"),
    url("../../fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
    font-weight: semibold;
}