.price-paragraph {
    font-family: 'Barlow', sans-serif;
    font-size: 39px;
    font-weight: bold;
    margin-top: 1rem;
}

.price-price {
    font-family: 'Barlow', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.price-payment-methods {
    font-size: 17px;
}

@font-face {
    font-family: "Barlow";
    src: local("Barlow"),
    url("../../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
    font-weight: bold;
}